<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Definitely Not an Onion Scraper</h1>
    <p class="lead">Scrape links to real news articles linked by reddit. Add articles to your favorites to track and add notes.</p>
    <div>
      <a href="/api/scrape"><button class="btn btn-outline-dark m-3" id="rescrape-button"><i class="far fa-newspaper"></i> Rescrape</button></a>
      <a href="/saved"><button class="btn btn-outline-dark m-3" id="saved-articles-button">Saved Articles <i class="fas fa-heart favorite" style="color:red"></i></button></a>
    </div>
  </div>
</div>
<div class="container">
  {{#each data}}
    {{> article}}
  {{/each}}
</div>
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <label for="noteModalLongTitle">
                <h5 class="modal-title"><i class="far fa-sticky-note"></i> Note</h5>
              </label>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="note-title">
                    <h6>Title</h6>
                  </label>
                  <input type="text" class="form-control" id="note-title">
                </div>

                <div class="form-group">
                  <label for="note-body">
                    <h6>Body</h6>
                  </label>
                  <textarea type="text" class="form-control" id="note-body"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="note-save">Save</button>
            </div>
        </div>
    </div>
</div>